
:root {
    --primary-background: #e1d8e4;
    --chrome-background: #ad74e3;
    --chrome-background-opaque: #ad74e3d1;
    --gutter: 30px;
}

body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 1fr auto;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--chrome-background);
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
}


footer {
    background-color: var(--chrome-background-opaque);
    padding: 10px var(--gutter);
    align-self: stretch;
}
